<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>

    <!-- Custom Css -->
    <link rel="stylesheet" href="/profile.css">

    <!-- FontAwesome 5 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
</head>
<body>
    <!-- Navbar top -->
    <div class="navbar-top">
        <div class="title">
            <h1>Profile</h1>
        </div>

    </div>
    <!-- End -->


    <!-- Main -->
    <div class="main">
        <h2>Hello, {{user.name}}</h2>
        <div class="card">
            <div class="card-body">
                <i class="fa fa-pen fa-xs edit"></i>
                <table>
                    <tbody>
                        <tr>
                            <td>Name</td>
                            <td>:</td>
                            <td>{{user.name}}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>:</td>
                            <td>{{user.email}}</td>
                        </tr>
                        <tr>
                            <td>Age</td>
                            <td>:</td>
                            <td>{{user.age}}</td>
                        </tr>
                        <tr>
                            <td>Gender</td>
                            <td>:</td>
                            <td>{{user.gender}}</td>
                        </tr>
                        <tr>
                            <td>Batch</td>
                            <td>:</td>
                            <td>{{user.batch}}</td>
                        </tr>
                        <tr>
                            <td>Payment</td>
                            <td>:</td>
                            <td>{{user.paymentStatus}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <!-- End -->
</body>
</html>